.contentContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  max-width: 600px;

  > span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: black;
    margin-top: 2.5rem;

    span {
      color: var(--cyan-500)
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;

    span {
      color: var(--cyan-500);
      font-weight: bold;
    }
  }

  > button {
    margin-top: 2.5rem;
  }
}

@media (max-width: 720px) {
  .contentContainer {
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: auto;

    img {
      max-width: 100%;
    }
  }

  .hero {
    max-width: 100%;
    margin-bottom: 4rem;

    h1 {
      font-size: 3.8rem;
      line-height: 3.8rem;
    }
  }
}